SESSION_SECRET=generate-a-random-secret-here
DAILY_API_KEY=your_daily_api_key
TEACHER_NAME=Asif Zubair
TEACHER_EMAIL=asif@livequran.academy
TEACHER_PHONE=+92 308 4317819
SCHOOL_EMAIL=info@livequran.academy
TEACHER_PIN=1234
